{% extends "base.html" %}

{% block pageheading %}welcome{% endblock %}

{% block main %}
    <table>
        <th>Name</th>
        <th>Year Group</th>
        <th>Set Homework</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Subject</th>

        {% for work in homework %}
            <tr>
                <td> {{ work[0] }} {{ work[1] }}</td>
                <td> {{ work[2] }}</td>
                <td> {{ work[3] }}</td>
                <td> {{ work[4] }}</td>
                <td> {{ work[5] }}</td>
                <td> {{ work[6] }}</td>
            </tr>




        {% endfor %}
    </table>
{% endblock %}